:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --bg-main: #333;
  --bg-accent: #282828;
  --text-main: #eee;
  --accent-color: #6bf;
  --error-color: #f66;
  --box-shadow-main: 0 0 1rem var(--tint-color);
  --glow-main: 0 0 0.2rem var(--accent-color);
  --transition: 0.15s ease;
  --tint-color: #0005;
  --sidebar-width: 20rem;

  color-scheme: dark;
  background-color: var(--bg-main);
  color: var(--text-main);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  background-color: var(--bg-main);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-main: #eee;
    --bg-accent: #ddd;
    --text-main: #222;
    --accent-color: #17b;
  }
}
