.item {
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: background-color var(--transition);

  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  -webkit-transition: background-color var(--transition);
  -moz-transition: background-color var(--transition);
  -ms-transition: background-color var(--transition);
  -o-transition: background-color var(--transition);
}

.item:hover {
  background-color: var(--bg-main);
}

.itemTitle {
  flex-grow: 1;
  display: inline-block;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.delete {
  opacity: 0;
  transition: opacity var(--transition), filter var(--transition);
  -webkit-transition: opacity var(--transition), filter var(--transition);
  -moz-transition: opacity var(--transition), filter var(--transition);
  -ms-transition: opacity var(--transition), filter var(--transition);
  -o-transition: opacity var(--transition), filter var(--transition);
}

.delete:hover {
  filter: drop-shadow(var(--glow-main));
  -webkit-filter: drop-shadow(var(--glow-main));
}

.item:hover .delete {
  opacity: 1;
}
