.sidebar {
  position: fixed;
  top: 0;
  height: 100vh;
  background: var(--bg-accent);
  width: var(--sidebar-width);
  box-shadow: var(--box-shadow-main);
  overflow: hidden;
}

.sidebarHeader {
  display: flex;
  justify-content: space-between;
  background: var(--bg-main);
}

.iconHeader {
  cursor: pointer;
  padding: 1rem;
  font-size: 1.5rem;
  transition: filter var(--transition);
  -webkit-transition: filter var(--transition);
  -moz-transition: filter var(--transition);
  -ms-transition: filter var(--transition);
  -o-transition: filter var(--transition);
}

.iconHeader:hover {
  filter: drop-shadow(var(--glow-main));
  -webkit-filter: drop-shadow(var(--glow-main));
}

.sidebarContent {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: calc(100% - 4rem);
  overflow-y: auto;
}

.icon {
  font-size: 1.5rem;
}

.userLists {
  margin-left: 1rem;
}

@media (max-width: 720px) {
  .sidebar {
    height: auto;
    width: 100%;
    max-width: 100%;
    position: relative;
    padding: 0;
  }
  .hidden {
    display: none;
  }
}
@media (min-width: 720px) {
  .hidden {
    --sidebar-width: 3.5rem;
    /* transform: translateX(-16.5rem);
    -webkit-transform: translateX(-16.5rem);
    -moz-transform: translateX(-16.5rem);
    -ms-transform: translateX(-16.5rem);
    -o-transform: translateX(-16.5rem); */
  }
}
