.container {
  position: relative;
}

.button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-accent);
  padding: 1rem;
  border-radius: 0.5rem;
  transition: border-radius var(--transition);
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  -webkit-transition: border-radius var(--transition);
  -moz-transition: border-radius var(--transition);
  -ms-transition: border-radius var(--transition);
  -o-transition: border-radius var(--transition);
}

.button > svg {
  transition: transform var(--transition);
  -webkit-transition: transform var(--transition);
  -moz-transition: transform var(--transition);
  -ms-transition: transform var(--transition);
  -o-transition: transform var(--transition);
}

.buttonExpanded {
  border-radius: 0.5rem 0.5rem 0 0;
  -webkit-border-radius: 0.5rem 0.5rem 0 0;
  -moz-border-radius: 0.5rem 0.5rem 0 0;
  -ms-border-radius: 0.5rem 0.5rem 0 0;
  -o-border-radius: 0.5rem 0.5rem 0 0;
}

.buttonExpanded > svg {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.options {
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
  transform: translateY(-1rem);
  top: 3.15rem;
  background-color: var(--bg-accent);
  opacity: 0;
  pointer-events: none;
  border-radius: 0 0 0.5rem 0.5rem;
  transition: opacity var(--transition), transform var(--transition);
  -webkit-border-radius: 0 0 0.5rem 0.5rem;
  -moz-border-radius: 0 0 0.5rem 0.5rem;
  -ms-border-radius: 0 0 0.5rem 0.5rem;
  -o-border-radius: 0 0 0.5rem 0.5rem;
  -webkit-transition: opacity var(--transition), transform var(--transition);
  -moz-transition: opacity var(--transition), transform var(--transition);
  -ms-transition: opacity var(--transition), transform var(--transition);
  -o-transition: opacity var(--transition), transform var(--transition);
  -webkit-transform: translateY(-1rem);
  -moz-transform: translateY(-1rem);
  -ms-transform: translateY(-1rem);
  -o-transform: translateY(-1rem);
}

.optionsShow {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
  z-index: 99;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.item {
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  padding: 1rem;
  width: 100%;
}

.item:hover,
.highlighted {
  background-color: var(--bg-main);
}
