.input {
  font-weight: inherit;
  color: inherit;
  cursor: text;

  box-sizing: border-box;
  outline: none;
  width: 100%;
  padding: 1rem;
  background: none;
  border: solid 2px transparent;
  transition: border var(--transition), color var(--transition);
  -webkit-transition: border var(--transition), color var(--transition);
  -moz-transition: border var(--transition), color var(--transition);
  -ms-transition: border var(--transition), color var(--transition);
  -o-transition: border var(--transition), color var(--transition);
}

.input:focus:hover {
  border-bottom: 2px solid var(--bg-accent);
}

.input:read-only {
  border: solid 2px transparent;
  cursor: inherit;
}

.highlighted {
  background-color: var(--bg-main);
}

.error {
  color: var(--error-color);
}
